html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}
.card-container {
  padding: 10px;
  line-height: 1.4;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  font-size: var(--text-size);
  border-radius: .75rem !important;
  box-shadow: 0 0 10px #000000bf !important;
  background-color: #242526 !important;
  margin: 5px 0 5px 0;
}
.card-header {
  width: 100%;
}
.card-body {
  width: 100%;
}
.card-footer {
  width: 100%;
}
.mobile-nav-button {
  background-color: unset !important;
}
.mobile-nav-button-post {
  background-color: unset !important;
  margin: 0 10px 0 10px;
}
.bottom-navbar {
  background-color: unset !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-top: 1px solid #474849;
  padding-bottom: 15px !important;
}
.top-navbar {
  margin-bottom: 5px;
}
.notification-item-container {
  margin: 10px 0 10px 0;
  border: 1px solid #353535;
  border-radius: 10px;
  padding: 10px;
}