html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}
.card-container {
  padding: 10px;
  line-height: 1.4;
  -webkit-box-align: start;
  align-items: flex-start;
  position: relative;
  font-size: var(--text-size);
  border-radius: .75rem !important;
  box-shadow: 0 0 10px #000000bf !important;
  background-color: #242526 !important;
  margin: 5px 0 5px 0;
}
.card-header {
  width: 100%;
}
.card-body {
  width: 100%;
}
.card-footer {
  width: 100%;
}
.mobile-nav-button {
  background-color: unset !important;
}
.mobile-nav-button-post {
  background-color: unset !important;
  margin: 0 10px 0 10px;
}
.bottom-navbar {
  background-color: unset !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-top: 1px solid #474849;
  padding-bottom: 15px !important;
}
.top-navbar {
  margin-bottom: 5px;
}
.notification-item-container {
  margin: 10px 0 10px 0;
  border: 1px solid #353535;
  border-radius: 10px;
  padding: 10px;
}

.chakra-container {
  padding-left: 5px;
}


.css-1v52qd {
  margin: 10px;
}
.css-uu3gtp {
  margin-top: 10px;
}
.chakra-card {
  border-color: #18181c !important;
  border-radius: .75rem;
  background-color: #18181c !important;
  box-shadow: 0 0 10px #000000bf;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px
}
.chakra-button {
  border-radius: 5px;
}
.css-1v52qd {
  margin-top: 0;
  margin-bottom: 5px;
}
.css-1n9ebf6 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.css-7w0fqo {
  margin-top: 90px !important;
}

.css-z5epub {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.link-preview-container {
  margin-bottom: 15px;
}
.css-2xph3x {
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #8c8c8e;
  border-radius: .75rem;
  padding: 10px 10px 20px;
}